:root {
  --primary-color: #0b5adb;
  --light-color: #ffffff;
  --dark-color: #000000;
  --background-color: #e1ebff;
  --stack-color: #90bcff;
  --animate-duration: 1500ms;
  font-size: 16px;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Steppe", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1280px;
  padding-left: 68px;
  padding-right: 68px;
  margin: 0 auto;

  @media (max-width: 45em) {
    padding-left: 0.625em;
    padding-right: 0.625em;
  }
}

.nav {
  background-color: var(--primary-color);
}

.nav__container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.logo h1 {
  font-size: 1.125rem;
  color: var(--light-color);
  max-width: 102px;
  line-height: 1;

  @media (max-width: 45em) {
    font-size: 1rem;
  }
}

.logo {
  max-width: 176px;
  display: flex;
  align-items: center;
  gap: 0.75em;
}

.logo__img {
  @media (max-width: 45em) {
    width: 2.5em;
  }
}

.mobile-menu-button {
  background: none;
  border: none;
  display: none;

  @media (max-width: 45em) {
    display: block;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: var(--light-color);
  z-index: 5;
  padding: 0.625em;
  transform: translate(100%);
  opacity: 0;
  transition: all 500ms ease-in;
}

.mobile-menu.active {
  transform: translate(0%);
  opacity: 1;
}

.mobile-menu h2 {
  margin-top: 0.5em;
  font-size: 2rem;
}

.mobile-menu button {
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: 900;
  position: absolute;
  right: 1em;
  padding: 0;
}

.mobile-menu__links {
  list-style: none;
  padding: 0;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

.mobile-menu__item a {
  display: block;
  padding: 0.5em;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 0.9;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
  background-color: var(--light-color);
  align-items: center;
  padding: 23px 25px 17px;
  border-radius: 40px;
  line-height: 1;

  @media (max-width: 45em) {
    display: none;
  }
}

.menu__item a {
  color: var(--dark-color);
  text-decoration: none;
  font-size: 23px;
  font-weight: 600;
  line-height: 1.03;
}

.menu__item a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--primary-color);
}

.header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("../images/worktogether.png");
}

.workers__container {
  display: grid;
  margin-top: 340px;

  @media (max-width: 45em) {
    margin-top: 15em;
  }
}

.workers__container h2 {
  background-color: var(--primary-color);
  font-size: 2rem;
  max-width: 680px;
  color: var(--light-color);
  padding: 15px 30px 15px 30px;
  border-radius: 27px;
  font-weight: 500;
  line-height: 1.1;

  @media (max-width: 45em) {
    font-size: 1.4rem;
  }
}

.workers__container p {
  max-width: 886px;
  margin-top: 2em;
  margin-bottom: 3.8em;
  padding-left: 20px;
  position: relative;

  color: var(--light-color);
  font-size: 1.75em;
  font-weight: 500;
  line-height: 1.1;

  @media (max-width: 45em) {
    font-size: 1.1rem;
    margin-top: 2em;
  }
}

.workers__container p::before {
  content: "";
  background-color: #90bcff;
  position: absolute;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 29px;

  left: 0;
  top: -0.3em;
}

.advantages {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/круги.png");
  background-color: var(--background-color);
}

.advantages__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;

  @media (max-width: 45em) {
    padding-left: 0.625em;
    padding-right: 0.625em;
  }
}

.advantages__heading {
  color: var(--primary-color);
  font-size: 4.125rem;
  background-color: white;
  padding: 0.24em 0.64em 0.1em 0.64em;
  border-radius: 44px;
  margin: 0.75em auto 0.53em;
  line-height: 1;
  font-weight: 900;

  @media (max-width: 45em) {
    font-size: 2.3rem;
  }
}

.advantages__subheading {
  font-size: 2.3125rem;
  color: var(--primary-color);
  font-weight: 700;
  margin: 0 auto;
  max-width: 916px;
  line-height: 1;

  @media (max-width: 45em) {
    font-size: 1.5rem;
  }
}

.advantages__subheading::before,
.advantages__subheading::after {
  content: "";
  display: block;
  width: 70%;
  padding: 5px 0 5px;
  margin: 0.54em auto;
  background-color: white;
  border-radius: 29px;
}

.advantages__grid {
  margin-top: 35px;
  display: flex;
  gap: 19px;

  @media (max-width: 45em) {
    flex-direction: column;
  }
}

.advantages__grid-obj {
  align-content: center;
  background-color: white;
  padding: 2.13em 0.8em 1.67em;
  border-radius: 34px;
  line-height: 1;
  font-size: 1.875rem;
  text-align: left;

  @media (max-width: 45em) {
    font-size: 1.2rem;
  }
}

.advantages__grid-obj p {
  font-weight: 500;
}

.advantages__grid-obj h3 {
  font-size: inherit;
  color: var(--primary-color);
  font-weight: 700;
  margin-bottom: 0.5em;
}

.services {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../images/маленькие круги.png");
  background-color: var(--background-color);
}

.services__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 1128px;
  margin: 0 auto;

  @media (max-width: 45em) {
    padding-right: 0.625em;
    padding-left: 0.625em;
  }
}

.services-end-text {
  color: var(--primary-color);
  font-size: 2.1rem;
  background-color: white;
  padding: 0.48em 1.25em 0.18em;
  border-radius: 44px;
  margin: 1.1em auto 1.04em;
  line-height: 1;
  font-weight: 700;
  max-width: 947px;

  @media (max-width: 45em) {
    font-size: 1.5rem;
  }
}

.services-heading {
  color: var(--primary-color);
  font-size: 4.125rem;
  background-color: var(--light-color);
  padding: 0.24em 0.64em 0.1em 0.64em;
  border-radius: 44px;
  margin: 0.75em auto 0.53em;
  line-height: 1;
  font-weight: 900;

  @media (max-width: 45em) {
    font-size: 2.5rem;
  }
}

.services__grid {
  position: relative;
  background-color: var(--light-color);
  padding: 1.56em 1.89em;
  border-radius: 58px;
  font-size: 2rem;

  @media (max-width: 45em) {
    font-size: 1.3rem;
  }
}

.service__text {
  text-align: left;
  line-height: 1.1;
  max-width: 525px;
  font-weight: 500;
  color: var(--primary-color);

  @media (max-width: 45em) {
    margin-bottom: 1em;
  }
}

.service__heading {
  text-align: left;
  margin-bottom: 1.4375em;
  font-weight: 700;
  max-width: 500px;
  line-height: 1;
  color: var(--dark-color);
}

.service__number {
  width: 1.2em;
  height: 1.2em;

  font-weight: 800;
  color: var(--light-color);
  background-color: var(--primary-color);
  font-size: 60px;
  position: absolute;
  left: -33px;
  line-height: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 5px solid var(--light-color);

  @media (max-width: 45em) {
    /*position: static; */
    font-size: 40px;
    left: -15px;
  }
}

.service__number span {
  margin-top: 0.2em;
}

.service {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (max-width: 45em) {
    flex-direction: column;
    margin-bottom: 2em;
  }
}

.service:last-child {
  @media (max-width: 45em) {
    margin-bottom: 0;
  }
}

.service p:last-of-type::before {
  content: "";
  background-color: #90bcff;
  position: absolute;
  width: 50%;
  height: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 29px;

  left: 0;
  top: -30px;
}

.service p:last-of-type {
  position: relative;
}

/* Stack */

.stack {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../images/Group 6.png");
  background-color: var(--light-color);
}

.stack__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 1128px;
  margin: 0 auto;
}

.stack h2 {
  text-align: center;
  color: var(--light-color);
  font-size: 2.625rem;
  background-color: var(--stack-color);
  padding: 0.4em 1em 0.33em;
  border-radius: 44px;
  margin: 50px auto 58px;
  line-height: 1;
  font-weight: 500;

  @media (max-width: 45em) {
    font-size: 2.5em;
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
}

.stack__grid p {
  color: var(--light-color);
  background-color: var(--primary-color);
  font-weight: 900;
  font-size: 2.9375rem;
  padding-top: 1.66em;
  padding-bottom: 1.66em;
  border-radius: 50px;
  line-height: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.stack__grid {
  @media (max-width: 45em) {
    padding-left: 0.625em;
    padding-right: 0.625em;
  }
}

.stack__grid-row1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;

  @media (max-width: 45em) {
    grid-template-columns: 1fr;
  }
}

.stack__grid-row2 {
  max-width: 752px;
  margin: 60px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;

  @media (max-width: 45em) {
    grid-template-columns: 1fr;
  }
}

/* Solutions */

.solutions {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/Group 7.png");
  background-color: var(--light-color);
}

.solutions__container {
  text-align: left;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;

  @media (max-width: 45em) {
    padding-left: 0.625em;
    padding-right: 0.625em;
  }
}

.solutions h2 {
  color: var(--primary-color);
  font-size: 4.125rem;
  border-radius: 44px;
  margin: 50px 91px 11px;
  max-width: 848px;
  line-height: 1;
  font-weight: 900;
  position: relative;

  @media (max-width: 45em) {
    margin-left: 0.9em;
    margin-right: 0;
    font-size: 1.9rem;
  }
}

.solutions h2:first-of-type:before {
  content: "";
  background-color: #90bcff;
  position: absolute;
  height: 110%;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 29px;

  left: -30px;
  top: -10px;
}

.solution {
  margin-left: 68px;
  display: flex;
  flex-direction: row;
  gap: 33px;

  @media (max-width: 45em) {
    flex-direction: column;
    margin-left: 0;
  }
}

.solution p {
  margin-top: 132px;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1;
  max-width: 515px;
  position: relative;

  @media (max-width: 45em) {
    margin-top: 1em;
    font-size: 1.4rem;
  }
}

.solution span {
  font-weight: 700;
  color: var(--primary-color);
}

.solution p::before {
  content: "";
  background-color: #90bcff;
  position: absolute;
  width: 70%;
  height: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 29px;

  left: 0;
  top: -25px;
}

/* Possibilities */

.possibilities {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/Group 9.png");
  background-color: var(--light-color);

  @media (max-width: 45em) {
    background-image: url(../images/Group\ 7.png);
  }
}

.possibilities__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;

  @media (max-width: 45em) {
    padding-left: 0.625em;
    padding-right: 0.625em;
  }
}

.possibilities__container img {
  width: 606px;
  height: 512px;
  margin: 0 auto;
  margin-top: 68px;
  margin-bottom: 50px;

  @media (max-width: 45em) {
    width: auto;
    height: auto;
  }
}

.possibilities__container p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;
  max-width: 1012px;
  position: relative;

  @media (max-width: 45em) {
    font-size: 1.4rem;
    text-align: left;
  }
}

.possibilities span {
  font-weight: 700;
  color: var(--primary-color);
}

.possibilities__container p::before {
  content: "";
  background-color: #90bcff;
  position: absolute;
  width: 80%;
  height: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 29px;

  left: 10%;
  top: -25px;
}

@media (max-width: 720px) {
  .possibilities__container p::before {
    left: 0;
  }
}

/* Project */

.project {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/Group 10 (1).png");
  background-color: var(--light-color);

  @media (max-width: 45em) {
    background-image: url("../images/Group\ 7.png");
  }
}

.project__container {
  text-align: left;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;

  @media (max-width: 45em) {
    padding-left: 0.625em;
    padding-right: 0.625em;
  }
}

.project h2 {
  text-align: center;
  color: var(--light-color);
  font-size: 2.625rem;
  background-color: var(--stack-color);

  padding: 0.4em 1em 0.33em;
  border-radius: 44px;
  margin: 1.2em auto;
  line-height: 1;
  font-weight: 500;

  @media (max-width: 45em) {
    margin-left: 0;
    margin-right: 0;
    font-size: 2.5rem;
  }
}

.project__container p {
  font-size: 2rem;
  max-width: 934px;
  margin-left: 2.0625em;
  margin-bottom: 1.5em;
  line-height: 1;
  font-weight: 500;

  @media (max-width: 45em) {
    margin-left: 0;
    font-size: 1.4rem;
  }
}

.project__container span {
  color: var(--primary-color);
  font-weight: 700;
}

.project__grid {
  display: flex;
  flex-direction: row;
  gap: 1em;

  @media (max-width: 45em) {
    flex-direction: column-reverse;
    gap: 2em;
  }
}

.project__grid-text p {
  margin-bottom: 1em;
  margin-left: 4.5em;
  font-size: 1.25rem;
  max-width: 607px;
  position: relative;

  @media (max-width: 45em) {
    margin-left: 1.2em;
    font-size: 1rem;
    margin-bottom: 2em;
  }
}

.project__grid-text p::before {
  content: "";
  background-color: #90bcff;
  position: absolute;
  height: 105%;
  width: 0.5em;
  border-radius: 29px;

  left: -1.2em;
  top: -5px;
}

.project img {
  max-height: 287px;
  border-radius: 35px;
  border: 5px solid var(--primary-color);
  object-fit: cover;
}

/* Price */

.price {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/Group 12.png");
  background-color: var(--light-color);

  @media (max-width: 45em) {
    background-image: url("../images/Group\ 7.png");
  }
}

.price__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;

  @media (max-width: 45em) {
    padding-left: 0.625em;
    padding-right: 0.625em;
  }
}

.price__container h2 {
  margin-top: 68px;
  color: var(--primary-color);
  font-weight: 900;
  font-size: 5.0625rem;
  line-height: 1.2;

  @media (max-width: 45em) {
    font-size: 2.5rem;
  }
}

.price__container h3 {
  font-size: 2.1em;
  font-weight: 500;
  line-height: 1;
  margin-top: 66px;
  max-width: 988px;
  color: var(--primary-color);
  position: relative;

  @media (max-width: 45em) {
    font-size: 1.3rem;
  }
}

.price__container p {
  margin-top: 7.3em;
  font-size: 1.4375rem;
  color: #8a8a8a;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 38px;

  @media (max-width: 45em) {
    font-size: 1rem;
  }
}

.price__container h3::before {
  content: "";
  background-color: #90bcff;
  position: absolute;
  width: 100%;
  height: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 29px;

  left: 0;
  top: -30px;
}

.price__container h3::after {
  content: "";
  background-color: #90bcff;
  position: absolute;
  width: 45%;
  height: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 29px;

  left: 27.5%;
  top: 152px;
}
